@import 'styles/utils.scss';

.pagination {
  margin-top: 2rem;

  display: flex;
  align-items: center;

  .number {
    // 가운데 정렬
    flex: 1;
    text-align: center;
    
    color: $oc-gray-6;
    font-size: 0.85rem;
  }
}