@import 'utils';

.todo-input {
  border-top: 1px solid $oc-gray-2;
  border-bottom: 1px solid $oc-gray-2;

  display: flex;

  padding: 1rem;

  input {
    flex: 1;
    font-size: 1.1rem;

    outline: none;
    border: none;

    border-bottom: 1px solid $oc-gray-4;
    &:focus{
      border-bottom: 1px solid $oc-cyan-6;
    }

    background: transparent;
  }

  .add-button {
    width: 5rem;
    height: 2rem;

    margin-left: 1rem;
    border: 1px solid $oc-green-7;
    color: $oc-green-7;

    font-weight: 500;
    font-size: 1.1rem;

    display: flex;  //이게 있어야 아래 정렬 properties가 적용됨.
    
    align-items: center;  // 새로 가운데 정렬
    justify-content: center;  // 가로 가운데 정렬

    &:hover{
      background: $oc-green-7;
      color: white;
      cursor: pointer;
    }

    &:active{
      background: $oc-green-8;
    }
  }
}